*~
*.tar
*.tar.*
work/
out/
codesigning*
*.iso
*.img
*.cer
*.crt
*.pem
user-data
meta-data
network-config
man/version.rst
.idea/*.xml
*.iml
build-iso.env

archiso/prepare/bin
configs/releng/airootfs/targetfs/rootfs/etc/hosts
configs/releng/airootfs/targetfs/rootfs/var
configs/releng/airootfs/targetfs/rootfs/usr/bin/citrix-desktop-launcher.jar
configs/releng/airootfs/targetfs/homefs/user/.cache/yay*
configs/releng/airootfs/targetfs/homefs/user/ngate-client-installer-lin-offline-1.0.30-106-g5537bcb-x64
