*~
*.tar
*.tar.*
work/
out/
codesigning*
*.iso
*.img
*.cer
*.crt
*.key
*.pem
user-data
meta-data
network-config
man/version.rst
.idea/*.xml
*.iml
build-iso.env

configs/releng/airootfs/targetfs/rootfs/etc/hosts
configs/releng/airootfs/targetfs/rootfs/var
configs/releng/airootfs/targetfs/homefs/user/.cache/yay
