
DISK=/dev/nvme0n1
EFI_PART=${DISK}p1
ROOT_PART=${DISK}p2
HOME_PART=${DISK}p4

WORKING_RESOLUTION=1920x1200
TIMEZONE=Europe/Moscow
HOSTNAME=myhost

USERNAME=myusername
USER_PASSWD=mypassword
USER2NAME=otherusername
USER2_PASSWD=otherpassword

YANDEX_DISK_IID=e5c093b3-e443-4d6b-aa91-ffe18c4d07eb
YANDEX_DISK_PASSWD=cmsveupsa0000qs81me3cteaf01M04KBWQFA1WAFX0CT7NCPTJC

GPB_USERNAME=cmsvf05rs0001qs81fh3d7800
GPB_PASSWD='01M04KKXFJEE6W5YV9CYFQ1XHK'
