# Путь к файлу с данными для аутентификации. Файл должен быть подготовлен командой token.
auth=$HOME/.config/yandex-disk/passwd

# Папка Яндекс.Диска.
dir=$HOME/yandex.disk

# Не синхронизировать указанные папки.
exclude-dirs=Облако

# Настройка прокси-сервера. Примеры:
#proxy=https,127.0.0.1,443,login,password
#proxy=https,127.0.0.1,443
#proxy=socks4,my.proxy.local,1080,login,password
#proxy=socks5,my.another.proxy.local,1081
# Не использовать прокси-сервер:
proxy=no
# Использовать системные настройки прокси-сервера (по умолчанию):
#proxy=auto
